@{
    ViewBag.Title = "Rastreabilidade";
}

<link href="@Url.Content("~/Static/bootstrap/bootstrap/css/bootstrap.css")" rel="stylesheet" type="text/css" />

<div id="busca" class="well well-small">
    @ViewBag.tabelas
    <form class="form-search">
        <div class="input-prepend">
            <label style="width:50%">Rastreabilidade11111</label>
            <button type="submit" class="btn">
                <i class="icon-search"></i></button>
            <input type="text" class="span2 search-query" style="width:100%" placeholder="busque aqui por módulos, tabelas ou casos de uso">
        </div>
    </form>
</div>
<div id="modulo">
    <i class="icon-folder-open"></i> 
    <label>Módulo: </label>
    <label>Operação</label>
</div>