
<div class="span12 well well-large">
    <div class="row-fluid">
        <div class="span4">
            <h1>@Labels.AppTitle</h1>
        </div>
        <div class="span8">
            <div class="form-search r-form-search">
            <div class="input-append">
                <input id="r-search" name="q" type="text" 
                       class="search-query r-search-input" placeholder="@Labels.SearchHint"/>
                <button class="btn btn-success" type="button">@Labels.BtnSearch</button>
            </div>
            </div>
        </div>
    </div>
    <div id="search-results"></div>
</div>
