<div id="messages" style="display:none;">
    <button type="button" class="close">×</button>
    <strong>@*onde vai ser adicionado o título da mensagem*@ </strong>
    <span>@*onde vai ser adicionado o corpo da mensagem*@</span>
</div>
